* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.cover-page {
  position: absolute;
  z-index: 200;
  height: 100vh;
  width: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36, 0);
}

.pop-up-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  border-radius: 10px;
}

.welcome {
  font-size: 18px;
}

.pop-up-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pop-up-text {
  font-size: 14px;
}

.rounds-inpt {
  box-sizing: border-box;
  height: 24px;
  width: 45px;
  padding: 0px 4px;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  border-radius: 12px;
}

.start-btn {
  box-sizing: border-box;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  width: 120px;
  height: 30px;
  border-radius: 15px;
}

.blurred {
  filter: blur(4px);
}

#page-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  filter: blur(4px);
  z-index: 100;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
}

#game-top {
  font-size: 18px;
  padding-bottom: 20px;
}

#game-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}

#icons-left,
#icons-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 100px;
  margin: 10px;
}

#player-choice-label,
#player-choice-input,
#computer-choice-label,
#computer-choice-text {
  font-size: 14px;
}

#player-choice-input {
  box-sizing: border-box;
  height: 24px;
  width: 84px;
  padding: 0px 4px;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  border-radius: 12px;
}

#game-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(36, 36, 36);
}

#play-btn-container,
#scores-container {
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 10px;
}

#scores-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(36, 36, 36);
  font-size: 14px;
}

#score-title {
  font-size: 18px;
}

#scores-readout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#player-score,
#computer-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#play-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(36, 36, 36);
}

#play-btn {
  box-sizing: border-box;
  background-color: rgb(36, 36, 36);
  border: 1px solid white;
  width: 120px;
  height: 30px;
  border-radius: 15px;
}

#play-btn:hover {
  background-color: rgb(46, 46, 46);
}

#play-btn:active {
  background-color: rgb(56, 56, 56);
}